.profile-img {
  width: 80%;
  max-width: 350px;
}

.profile-img-section {
  position: relative;
  
}

.profile-img-detail {
  background: rgb(65,105,225);
  background: linear-gradient(90deg, rgba(65,105,225,1) 0%, rgba(29,152,253,1) 50%, rgba(65,105,225,1) 100%);
  height: 10px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 3px;
}

#profile {
  text-align: center;
}

.profile-title {
  font-size: 35px;
  margin: 0;
}

.profile-details {
  font-size: 18px;
  line-height: 1.3;
  max-width: 450px;
  margin: 0 auto;
}

.profile-btn {
  background-color: var(--detail-color);
  color: var(--text-color);
  border: none;
  font-size: 20px;
  padding: 0.5em 1em;
  margin: 0.5em;
  border-radius: 45px;
  cursor: pointer;
  transition: filter 0.3s;
}

.profile-btn:hover {
  filter: brightness(130%);
}

@media (min-width: 950px) {

  .profile-info {
    margin-bottom: 0px;
  }

  .profile-img {
    width: 100%;
    max-width: 350px;
  }
  
  #profile {
    text-align: left;
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    align-items: center;
  }
  
  .profile-title {
    font-size: 60px;
  }
  
  .profile-details {
    font-size: 25px;
    line-height: 1.3;
    max-width: 450px;
    margin: 30 0;
  }
  
  .profile-btn {
    font-size: 28px;
  }
}